{% extends 'base_admin.html' %}
{% block content %}
    {#巨幕开始#}
    <div class="jumbotron">

        <h2>Hello,管理员{{ user.email }}</h2>

        <img src="/static/img/timg.gif" width="50%" alt="程序员gif">
    <div class="row">
            <div class="col-md-10">
                <p><b>9</b>点睡，<b>9</b>点起，每天工作<b>6</b>小时</p>
            </div>

        </div>
    </div>
    {#巨幕结束#}
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
    </script>

{% endblock content %}
{% block sidebar %}
    0
{% endblock sidebar %}