{% extends 'base.html' %}
{% block content %}
    <h1 class="page-header">考勤申诉
        <form action="/stu_check_atten/" class="pull-right" method="post">
            {% csrf_token %}
            <input type="text" name="cour_id" id="cour_id"
                   value="{{ att.course_id.courseNum }}" style="display: none;">
            <input type="text" name="teac_id" id="teac_id"
                   value="{{ att.teacher_id.teacherNum }}" style="display: none;">
            <button type="submit">返回上页</button>
        </form>
    </h1>

    <form action="/complain_process/" method="post">
        {% csrf_token %}
        <textarea name="complain_words" id="complain_words" cols="30" rows="10" placeholder="最多64个字"></textarea>
        <input type="text" name="attendance_id" id="attendance_id"
               value="{{ att.attendance_id }}" style="display: none;">
        <button type="submit">提交</button>
        <button type="reset">重置</button>
    </form>
{% endblock content %}