{% extends 'base.html' %}
{% block content %}
    <h1 class="page-header">我的人脸</h1>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="{{ img1 }}" alt="img1" width="200">
                <div class="caption">
                    <h3>{{ img1_name }}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="{{ img2 }}" alt="img2" width="200">
                <div class="caption">
                    <h3>{{ img2_name }}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="{{ img3 }}" alt="img3" width="200">
                <div class="caption">
                    <h3>{{ img3_name }}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="{{ img4 }}" alt="img4" width="200">
                <div class="caption">
                    <h3>{{ img4_name }}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="{{ img5 }}" alt="img5" width="200">
                <div class="caption">
                    <h3>{{ img5_name }}</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}