{% extends 'ACE_model.html' %}
{% block content %}
    <div class="page-header">
        <h1 style="color: white;">请输入您的邮箱，我们将会把您的密码发到您的邮箱中</h1>
    </div>
    <form role="form" action="/forget_password/" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1" style="color: white">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email_verify"
                   placeholder="Enter email">
        </div>
        <div class="form-group">
            <input name="account_rank" type="radio" value="student" checked/>
            <small style="color: white">学生</small>
            &nbsp&nbsp&nbsp&nbsp&nbsp
            <input name="account_rank" type="radio" value="teacher"/>
            <small style="color: white">教师</small>
            &nbsp&nbsp&nbsp&nbsp&nbsp
            <input name="account_rank" type="radio" value="admin"/>
            <small style="color: white">管理员</small>
        </div>
        <div class="input-group ">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </form>
    <div class="container">
        <h3 style="color: white">{{ error_msg }}</h3>
    </div>
{% endblock content %}