{% extends 'base_admin.html' %}
{% block content %}


    <table class="table table-striped">
        <thead>
        <tr>
            <th>功能</th>
            <th>下载</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>提交学生用户数据</td>
            <td><a href="/static/download_models/UserInfo.xls">下载学生用户数据模板</a></td>
            <td>
                <form action="/add_UserInfo_2db/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="file_name" id="file_name" class="file" data-show-preview="false" data-allowed-file-extensions='["xls"]'/>
                    <button type="submit" class="btn btn-primary">提交.xls文件</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>创建教师用户数据</td>
            <td><a href="/static/download_models/TeacherInfo.xls">下载教师用户数据模板</a></td>
            <td>
                <form action="/create_two_teachers/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="file_name" id="file_name" class="file" data-show-preview="false" data-allowed-file-extensions='["xls"]'/>
                    <button type="submit" class="btn btn-primary">提交.xls文件</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>预处理防伪图片集</td>
            <td><a href=""></a></td>
            <td>
                <form action="/anti_proof_dataset/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">处理</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>照片防伪神经训练</td>
            <td><a href=""></a></td>
            <td>
{#                action="/anti_proof_train/"#}
{#                http://39.98.169.35:6006/#scalars#}
                <form action="/anti_proof_train/" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="tensorboard_open()" class="btn btn-primary">处理</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>

    <h3 style="color: red">{{ success }}</h3>

    <script language="JavaScript" type="text/javascript">
    function tensorboard_open(){
        window.open("http://39.100.45.7:6006/#scalars");
    }
    </script>

{% endblock content %}