{% extends 'base_teacher.html' %}
{% block content %}
    <h1 class="page-header">考勤管理<a href="/teacher_manage_atten/" class="pull-right">←返回上层</a></h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>考勤状态</th>
            <th>考勤开始时间</th>
            <th>考勤结束时间</th>
            <th>活体检测</th>
            <th>人脸识别</th>
            <th>WiFi指纹</th>
            <th>学生信息</th>
            <th>结果导出</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in atten_infos %}
            <tr>
                {% if i.attendance_tag == "1" %}
                    <td style="color: green">正在考勤</td>
                    <td>{{ i.attendance_start_time|date:"Y-m-d H:i:s" }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% else %}
                    <td style="color: red">考勤结束</td>
                    <td>{{ i.attendance_start_time|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ i.attendance_end_time|date:"Y-m-d H:i:s" }}</td>
                    {% if i.attendance_tag == '3' or i.attendance_tag == '5' or i.attendance_tag == '7' or i.attendance_tag == '9' %}
                        <td style="color:grey">已检测</td>
                    {% else %}
                        <td>
                            <form action="/students_anti_proof/" method="post" target="_blank">
                                {% csrf_token %}
                                <input type="text" name="attendance_id" id="attendance_id" value="{{ i.attendance_id }}"
                                       style="display: none;"/>
                                <button type="submit" class="btn btn-default">检测</button>
                            </form>
                        </td>
                    {% endif %}
                    {% if i.attendance_tag == '4' or i.attendance_tag == '6' or i.attendance_tag == '7' or i.attendance_tag == '9' %}
                        <td style="color:grey">已识别</td>
                    {% else %}
                        <td>
                            <form action="/face_recognition_students/" method="post" target="_blank">
                                {% csrf_token %}
                                <input type="text" name="attendance_id" id="attendance_id" value="{{ i.attendance_id }}"
                                       style="display: none;"/>
                                <button type="submit" class="btn btn-default">识别</button>
                            </form>
                        </td>
                    {% endif %}
                    {% if i.attendance_tag == '2' or i.attendance_tag == '5' or i.attendance_tag == '6' or i.attendance_tag == '9' %}
                        <td style="color:grey">已聚类</td>
                    {% else %}
                        <td>
                            <form action="/wifi_finger/" method="post" target="_blank">
                                {% csrf_token %}
                                <input type="text" name="attendance_id" id="attendance_id" value="{{ i.attendance_id }}"
                                       style="display: none;"/>
                                <button type="submit" class="btn btn-default">聚类</button>
                            </form>
                        </td>
                    {% endif %}
                {% endif %}

                <td>
                    <form action="/teacher_atten_course/" method="post">
                        {% csrf_token %}
                        <input type="text" name="attendance_id" id="attendance_id" value="{{ i.attendance_id }}"
                               style="display: none;"/>
                        <button type="submit" class="btn btn-info">查看</button>
                    </form>
                </td>
                {% if i.attendance_tag == '9' %}
                    <td>
                        <form method="post" action="/export_atten_results/">
                            {% csrf_token %}
                            <input type="text" name="attendance_id" id="attendance_id"
                                   value="{{ i.attendance_id }}" style="display: none;">
                            <button type="submit" class="btn btn-warning">导出</button>
                        </form>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>
                    <form action="/delete_attendance/" method="post">
                        {% csrf_token %}
                        <input type="text" name="attendance_id" id="attendance_id" value="{{ i.attendance_id }}"
                               style="display: none;"/>
                        <button type="submit" class="btn btn-danger">删除</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}