{% extends 'base_teacher.html' %}
{% block content %}
    <h1 class="page-header">联系我们</h1>

    <section class="panel">
        <header class="panel-heading head-border">
            作者信息
        </header>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>姓名</td>
                <td>张凌峰</td>
            </tr>
            <tr>
                <td>毕业院校</td>
                <td>天津理工大学</td>
            </tr>
            <tr>
                <td>班级</td>
                <td>2019届计算机科学与技术（中加合作）3班</td>
            </tr>
            <tr>
                <td>指导教师</td>
                <td>李双喜</td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td>465074419@qq.com</td>
            </tr>
            <tr>
                <td>GitHub</td>
                <td><a href="https://github.com/RichardChangCA" target="_blank">https://github.com/RichardChangCA</a>
                </td>
            </tr>
            <tr>
                <td>CSDN</td>
                <td><a href="https://blog.csdn.net/zoukai1587" target="_blank">https://blog.csdn.net/zoukai1587</a></td>
            </tr>
            </tbody>
        </table>
    </section>

{% endblock content %}